node_modules
design-system/lib
packages/**/dist
docs/out
docs/public
example-site/out
example-site/public
.next
.changeset
CHANGELOG.md
# generated component props data
__generated__
plop-templates
!.storybook
