.blockquote {
	border-left: 5px solid var(--focus);
	margin: 0;
	padding-left: 2rem;
}

.blockquote p {
	font-size: inherit;
	max-width: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: inherit;
	font-family: inherit;
}
