:root {
  --zmhab20: Helvetica, arial, sans-serif;
  --zmhab21: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --zmhab22: normal 10px Helvetica, arial, sans-serif;
  --zmhab23: normal 12px Helvetica, arial, sans-serif;
  --zmhab24: normal 14px Helvetica, arial, sans-serif;
  --zmhab25: normal 16px/1.3em Helvetica, arial, sans-serif;
  --zmhab26: 100;
  --zmhab27: 700;
  --zmhab28: 4px;
  --zmhab29: 2px;
  --zmhab2a: 4px;
  --zmhab2b: 6px;
  --zmhab2c: 100%;
  --zmhab2d: 70px;
  --zmhab2e: 44px;
  --zmhab2f: opacity 300ms ease, transform 300ms ease;
  --zmhab2g: opacity 200ms ease, transform 200ms ease;
  --zmhab2h: opacity 100ms ease, transform 100ms ease;
  --zmhab2i: 0;
  --zmhab2j: 2px;
  --zmhab2k: 4px;
  --zmhab2l: 6px;
  --zmhab2m: 12px;
  --zmhab2n: 16px;
  --zmhab2o: 20px;
  --zmhab2p: 40px;
}
:root {
  --zmhab2q: #000;
  --zmhab2r: #040080;
  --zmhab2s: #005ad2;
  --zmhab2t: #00439c;
  --zmhab2u: #00439c;
  --zmhab2v: #0088ff;
  --zmhab2w: #75438a;
  --zmhab2x: #a7a7a7;
  --zmhab2y: #515151;
  --zmhab2z: #fff;
  --zmhab210: #a7a7a7;
  --zmhab211: #cd193d;
  --zmhab212: #005ad2;
  --zmhab213: #1da584;
  --zmhab214: rgba(0, 0, 0, .05);
  --zmhab215: #005ad2;
  --zmhab216: #c5f5e9;
  --zmhab217: #fee1e9;
  --zmhab218: #eeeeee;
  --zmhab219: #fff;
  --zmhab21a: #f4f4f4;
  --zmhab21b: #e5f3ff;
  --zmhab21c: #eeeeee;
  --zmhab21d: 0 2px 8px rgba(18, 21, 26, 0.3);
  --zmhab21e: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --zmhab2q: #f6f8fa;
  --zmhab2r: #c8e1f7;
  --zmhab2s: #68aeea;
  --zmhab2t: #97c8f1;
  --zmhab2u: #97c8f1;
  --zmhab2v: #3e8fe0;
  --zmhab2w: #aa83f2;
  --zmhab2x: #3d4b63;
  --zmhab2y: #f6f8fa;
  --zmhab2z: #000;
  --zmhab210: #828ea4;
  --zmhab211: #fa6b6c;
  --zmhab212: #3e8fe0;
  --zmhab213: #28b888;
  --zmhab214: rgba(0, 0, 0, .15);
  --zmhab215: #3e8fe0;
  --zmhab216: #195546;
  --zmhab217: #4c1a20;
  --zmhab218: #1c2230;
  --zmhab219: #0f131b;
  --zmhab21a: #0a0c11;
  --zmhab21b: rgba(41,111,192,0.15);
  --zmhab21c: #1c2230;
  --zmhab21d: 0 0 10px -2px #2d3648;
  --zmhab21e: 0 0 0 5px rgba(104,174,234,0.4);
}
.zmhab21f {
  position: absolute;
}
.zmhab21g {
  position: relative;
}
.zmhab21h {
  position: fixed;
}
.zmhab21i {
  top: 0;
}
.zmhab21j {
  bottom: 0;
}
.zmhab21k {
  left: 0;
}
.zmhab21l {
  right: 0;
}
.zmhab21m {
  display: none;
}
.zmhab21n {
  display: flex;
}
.zmhab21o {
  display: block;
}
.zmhab21p {
  display: inline;
}
.zmhab21q {
  flex-direction: row;
}
.zmhab21r {
  flex-direction: column;
}
.zmhab21s {
  flex-direction: row-reverse;
}
.zmhab21t {
  flex-wrap: wrap;
}
.zmhab21u {
  justify-content: stretch;
}
.zmhab21v {
  justify-content: flex-start;
}
.zmhab21w {
  justify-content: center;
}
.zmhab21x {
  justify-content: flex-end;
}
.zmhab21y {
  justify-content: space-around;
}
.zmhab21z {
  justify-content: space-between;
}
.zmhab220 {
  align-items: stretch;
}
.zmhab221 {
  align-items: flex-start;
}
.zmhab222 {
  align-items: center;
}
.zmhab223 {
  align-items: flex-end;
}
.zmhab224 {
  padding-top: var(--zmhab2i);
}
.zmhab225 {
  padding-top: var(--zmhab2j);
}
.zmhab226 {
  padding-top: var(--zmhab2k);
}
.zmhab227 {
  padding-top: var(--zmhab2l);
}
.zmhab228 {
  padding-top: var(--zmhab2m);
}
.zmhab229 {
  padding-top: var(--zmhab2n);
}
.zmhab22a {
  padding-top: var(--zmhab2o);
}
.zmhab22b {
  padding-top: var(--zmhab2p);
}
.zmhab22c {
  padding-bottom: var(--zmhab2i);
}
.zmhab22d {
  padding-bottom: var(--zmhab2j);
}
.zmhab22e {
  padding-bottom: var(--zmhab2k);
}
.zmhab22f {
  padding-bottom: var(--zmhab2l);
}
.zmhab22g {
  padding-bottom: var(--zmhab2m);
}
.zmhab22h {
  padding-bottom: var(--zmhab2n);
}
.zmhab22i {
  padding-bottom: var(--zmhab2o);
}
.zmhab22j {
  padding-bottom: var(--zmhab2p);
}
.zmhab22k {
  padding-left: var(--zmhab2i);
}
.zmhab22l {
  padding-left: var(--zmhab2j);
}
.zmhab22m {
  padding-left: var(--zmhab2k);
}
.zmhab22n {
  padding-left: var(--zmhab2l);
}
.zmhab22o {
  padding-left: var(--zmhab2m);
}
.zmhab22p {
  padding-left: var(--zmhab2n);
}
.zmhab22q {
  padding-left: var(--zmhab2o);
}
.zmhab22r {
  padding-left: var(--zmhab2p);
}
.zmhab22s {
  padding-right: var(--zmhab2i);
}
.zmhab22t {
  padding-right: var(--zmhab2j);
}
.zmhab22u {
  padding-right: var(--zmhab2k);
}
.zmhab22v {
  padding-right: var(--zmhab2l);
}
.zmhab22w {
  padding-right: var(--zmhab2m);
}
.zmhab22x {
  padding-right: var(--zmhab2n);
}
.zmhab22y {
  padding-right: var(--zmhab2o);
}
.zmhab22z {
  padding-right: var(--zmhab2p);
}
.zmhab230 {
  margin-top: var(--zmhab2i);
}
.zmhab231 {
  margin-top: var(--zmhab2j);
}
.zmhab232 {
  margin-top: var(--zmhab2k);
}
.zmhab233 {
  margin-top: var(--zmhab2l);
}
.zmhab234 {
  margin-top: var(--zmhab2m);
}
.zmhab235 {
  margin-top: var(--zmhab2n);
}
.zmhab236 {
  margin-top: var(--zmhab2o);
}
.zmhab237 {
  margin-top: var(--zmhab2p);
}
.zmhab238 {
  margin-bottom: var(--zmhab2i);
}
.zmhab239 {
  margin-bottom: var(--zmhab2j);
}
.zmhab23a {
  margin-bottom: var(--zmhab2k);
}
.zmhab23b {
  margin-bottom: var(--zmhab2l);
}
.zmhab23c {
  margin-bottom: var(--zmhab2m);
}
.zmhab23d {
  margin-bottom: var(--zmhab2n);
}
.zmhab23e {
  margin-bottom: var(--zmhab2o);
}
.zmhab23f {
  margin-bottom: var(--zmhab2p);
}
.zmhab23g {
  margin-left: var(--zmhab2i);
}
.zmhab23h {
  margin-left: var(--zmhab2j);
}
.zmhab23i {
  margin-left: var(--zmhab2k);
}
.zmhab23j {
  margin-left: var(--zmhab2l);
}
.zmhab23k {
  margin-left: var(--zmhab2m);
}
.zmhab23l {
  margin-left: var(--zmhab2n);
}
.zmhab23m {
  margin-left: var(--zmhab2o);
}
.zmhab23n {
  margin-left: var(--zmhab2p);
}
.zmhab23o {
  margin-right: var(--zmhab2i);
}
.zmhab23p {
  margin-right: var(--zmhab2j);
}
.zmhab23q {
  margin-right: var(--zmhab2k);
}
.zmhab23r {
  margin-right: var(--zmhab2l);
}
.zmhab23s {
  margin-right: var(--zmhab2m);
}
.zmhab23t {
  margin-right: var(--zmhab2n);
}
.zmhab23u {
  margin-right: var(--zmhab2o);
}
.zmhab23v {
  margin-right: var(--zmhab2p);
}
.zmhab23w {
  overflow: hidden;
}
.zmhab23x {
  overflow: auto;
}
.zmhab23y {
  box-shadow: var(--zmhab21d);
}
.zmhab23z {
  box-shadow: var(--zmhab21e);
}
.zmhab240 {
  border-radius: var(--zmhab29);
}
.zmhab241 {
  border-radius: var(--zmhab2a);
}
.zmhab242 {
  border-radius: var(--zmhab2b);
}
.zmhab243 {
  border-radius: var(--zmhab2c);
}
.zmhab244 {
  transition: var(--zmhab2f);
}
.zmhab245 {
  transition: var(--zmhab2g);
}
.zmhab246 {
  transition: var(--zmhab2h);
}
.zmhab247 {
  cursor: pointer;
}
.zmhab248 {
  pointer-events: none;
}
.zmhab249 {
  pointer-events: auto;
}
.zmhab24a {
  user-select: none;
}
.zmhab24b {
  appearance: none;
}
.zmhab24c {
  opacity: 0;
}
.zmhab24d {
  z-index: 0;
}
.zmhab24e {
  z-index: 1;
}
.zmhab24f {
  font: var(--zmhab22);
}
.zmhab24g {
  font: var(--zmhab23);
}
.zmhab24h {
  font: var(--zmhab24);
}
.zmhab24i {
  font: var(--zmhab25);
}
.zmhab24j {
  font-weight: var(--zmhab26);
}
.zmhab24k {
  font-weight: var(--zmhab27);
}
.zmhab24l {
  width: 100%;
}
.zmhab24m {
  width: 100vw;
}
.zmhab24n {
  height: 100%;
}
.zmhab24o {
  height: 100vh;
}
.zmhab24p {
  white-space: nowrap;
}
.zmhab24q {
  box-sizing: border-box;
}
.zmhab24r {
  text-align: center;
}
.zmhab24s {
  text-align: left;
}
.zmhab24t {
  text-align: right;
}
.zmhab24u {
  border: 0;
}
._1qm7qre1 {
  color: var(--zmhab2y);
}
._1qm7qre2 {
  color: var(--zmhab211);
}
._1qm7qre9 {
  text-overflow: ellipsis;
}
.w91dka1 {
  overflow-x: auto;
  overflow-y: hidden;
}
.w91dka1::before {
  content: "";
  flex: 1;
}
.w91dka1::after {
  content: "";
  flex: 1;
}
.w91dka5 {
  flex-grow: 1;
}
.w91dka7:not(:hover) {
  opacity: 0.8;
}
.w91dka9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
.w91dka3:not(:hover) .w91dka9 {
  opacity: 0.3;
}
._14i21x31 {
  color: var(--zmhab2y);
  font-family: var(--zmhab20);
}
._14i21x32 {
  font-size: 36px;
}
._14i21x33 {
  font-size: 24px;
}
._14i21x34 {
  font-size: 16px;
}
._1s1r7042 {
  border-top: 1px solid var(--zmhab21c);
}
._35rauq1:not(:last-child) {
  padding-bottom: var(--_35rauq0);
}
._35rauq2 {
  --_35rauq0: var(--zmhab28);
}
._35rauq3 {
  --_35rauq0: calc(var(--zmhab28) * 2);
}
._35rauq4 {
  --_35rauq0: calc(var(--zmhab28) * 3);
}
._35rauq5 {
  --_35rauq0: calc(var(--zmhab28) * 4);
}
._35rauq6 {
  --_35rauq0: calc(var(--zmhab28) * 6);
}
._35rauq7 {
  --_35rauq0: calc(var(--zmhab28) * 12);
}
._1c9i7542 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--zmhab2l) * -1);
}
._1c9i7542::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--zmhab2b);
  box-shadow: var(--zmhab21e);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--zmhab2g);
}
._1c9i7542:focus::before, ._1c9i7542:hover::before {
  opacity: 1;
  transform: scale(1);
}
._1c9i7544 {
  height: calc(var(--zmhab28) * 9);
}
._1c9i7546 {
  height: 20px;
  width: 20px;
}
._1c9i7548 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--zmhab2j) * 2));
  width: calc(20px - (var(--zmhab2j) * 2));
}
._1c9i7548::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--zmhab2a);
  box-shadow: var(--zmhab21e);
  transition: var(--zmhab2g);
  opacity: 0;
  transform: scale(0.5);
}
._1c9i7548::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--zmhab2a);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--zmhab219);
}
._1c9i7546:hover:not(:focus) ~ ._1c9i7548::before, ._1c9i7546:focus ~ ._1c9i7548::before {
  opacity: 1;
  transform: scale(1);
}
._1c9i7548 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--zmhab2h);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._1c9i7546:checked ~ ._1c9i7548 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--zmhab2h);
}
.i7ctsn0 {
  transition: var(--zmhab2g);
  transform-origin: 50% 50%;
}
.i7ctsn1 {
  transform: rotate(90deg);
}
.i7ctsn2 {
  transform: rotate(180deg);
}
.i7ctsn3 {
  transform: rotate(270deg);
}
.p0wvg04 {
  min-width: 0;
}
.p0wvg05 {
  flex-shrink: 0;
}
.p0wvg09 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
.p0wvg07:focus:not(:hover) ~ .p0wvg09 {
  opacity: 1;
}
._1ljgofq1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--zmhab2e);
  -webkit-tap-highlight-color: transparent;
}
._1ljgofq4 {
  --_1ljgofq2: currentColor;
  color: var(--_1ljgofq2);
  border: 1px solid var(--zmhab2x);
  height: calc(var(--zmhab28) * 9);
}
._1ljgofq4:hover {
  --_1ljgofq2: var(--zmhab212);
  border-color: var(--_1ljgofq2);
}
._1ljgofq4:active {
  transform: scale(0.98);
}
._1ljgofq4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--zmhab2e);
  min-width: var(--zmhab2e);
  left: calc((var(--zmhab28) * 2) * -1);
  right: calc((var(--zmhab28) * 2) * -1);
  height: 100%;
  top: 50%;
}
._1ljgofq4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--zmhab21e);
}
._1ljgofq5 {
  --_1ljgofq2: var(--zmhab213) !important;
  border-color: var(--_1ljgofq2);
}
._1ljgofq7 {
  top: 1px;
}
._1ywgde82 {
  margin-top: calc(var(--_1ywgde80) * -1);
  margin-left: calc(var(--_1ywgde80) * -1);
}
._1ywgde83 {
  padding-top: var(--_1ywgde80);
  padding-left: var(--_1ywgde80);
}
._1ywgde84 {
  --_1ywgde80: var(--zmhab28);
}
._1ywgde85 {
  --_1ywgde80: calc(var(--zmhab28) * 2);
}
._1ywgde86 {
  --_1ywgde80: calc(var(--zmhab28) * 3);
}
._1ywgde87 {
  --_1ywgde80: calc(var(--zmhab28) * 4);
}
._1ywgde88 {
  --_1ywgde80: calc(var(--zmhab28) * 5);
}
._1ywgde89 {
  --_1ywgde80: calc(var(--zmhab28) * 6);
}
.vu0vkf1 {
  color: var(--zmhab2y);
  height: var(--zmhab2e);
  background: var(--zmhab219);
}
.vu0vkf1:focus {
  outline: none;
}
.vu0vkf1::placeholder {
  color: var(--zmhab2x);
}
._18sbele5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--zmhab219);
  -webkit-tap-highlight-color: transparent;
}
._18sbele5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--zmhab21b);
  opacity: 0;
  transition: var(--zmhab2f);
  pointer-events: none;
}
._18sbele5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--zmhab2f);
}
._18sbele5._18sbele0 {
  color: var(--zmhab213);
}
._18sbele5:not(._18sbele1) {
  cursor: pointer;
}
._18sbele5._18sbele1 {
  color: var(--zmhab2x);
}
._18sbele5._18sbele2,._18sbele5._18sbele3:not(._18sbele0):not(._18sbele1),html:not([data-playroom-dark]) ._18sbele5:hover:not(._18sbele0):not(._18sbele1) {
  color: var(--zmhab212);
}
._18sbele5:not(._18sbele0):not(:hover):focus::before {
  color: var(--zmhab2y);
}
._18sbele5:not(._18sbele0):not(._18sbele1):focus::before,._18sbele5:not(._18sbele0):not(._18sbele1):hover::before {
  opacity: 1;
}
._18sbele5:not(._18sbele3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._18sbele8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--zmhab215);
  border: 2px solid var(--zmhab219);
}
._18sbele8:not(._18sbele6) {
  transform: scale(0);
  opacity: 0;
}
._18sbelea {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--zmhab213);
  border: 2px solid var(--zmhab219);
}
._18sbelea:not(._18sbele6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._18sbelea svg {
  color: var(--zmhab2z);
}
._2bb1e32 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--zmhab21c);
}
._2bb1e34 {
  top: 60px;
}
._2bb1e36 {
  color: var(--zmhab2y);
  background-color: var(--zmhab219);
}
._2bb1e36::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--zmhab21b);
  border-radius: var(--zmhab2a);
  opacity: 0;
  transition: var(--zmhab2f);
  pointer-events: none;
}
._2bb1e38 {
  color: var(--zmhab210);
}
._2bb1e39 {
  color: var(--zmhab212);
}
._2bb1e39::before {
  opacity: 1;
}
.a0lyg12 {
  color: var(--zmhab2y);
  min-width: calc(60px + 1px);
}
.a0lyg12.a0lyg10 {
  width: 100vw;
}
.a0lyg18 {
  bottom: 60px;
}
.a0lyg18:not(.a0lyg16) {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
.a0lyg1a {
  width: 60px;
  background-color: var(--zmhab219);
  border-left: 1px solid var(--zmhab21c);
}
.a0lyg1c {
  width: 320px;
  background-color: var(--zmhab219);
  border-left: 1px solid var(--zmhab21c);
}
.a0lyg12:not(.a0lyg10) .a0lyg1c {
  transform: translateX(calc(320px * 0.3));
  opacity: 0;
  pointer-events: none;
}
.pca9p52 {
  display: flex;
  align-items: center;
}
.pca9p52 > *:first-child {
  flex: 1;
}
.pca9p52 > *:nth-child(2) {
  flex: 0 0 43%;
}
.pca9p54 {
  display: inline-block;
  background: var(--zmhab218);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
.pca9p56 {
  height: var(--zmhab2e);
  width: var(--zmhab2e);
}
.pca9p59 {
  height: var(--zmhab2e);
  width: var(--zmhab2e);
}
.pca9p59::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--zmhab21b);
  border-radius: var(--zmhab2b);
  transition: var(--zmhab2g);
  opacity: 0;
  transform: scale(0.8);
}
.pca9p56:checked ~ .pca9p59,html:not([data-playroom-dark]) .pca9p56:hover ~ .pca9p59 {
  color: var(--zmhab212);
}
.pca9p56:focus ~ .pca9p59::before, .pca9p56:hover ~ .pca9p59::before {
  opacity: 1;
  transform: scale(1);
}
.s5qqrq5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--zmhab28) * 5);
  height: calc(var(--zmhab28) * 8);
  max-width: calc((100vw - 60px) - (var(--zmhab2d) * 2));
}
.s5qqrq5.s5qqrq0 {
  padding-right: calc((15px * 2) + 16px);
}
.s5qqrq5:not(.s5qqrq1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
.s5qqrq5.s5qqrq2 {
  background-color: var(--zmhab216);
}
.s5qqrq5.s5qqrq3 {
  background-color: var(--zmhab217);
}
.s5qqrq7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
.s5qqrq7:not(:hover) {
  opacity: 0.4;
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}

.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-neo .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

@keyframes nmkw7b1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nmkw7b0 {
  background-color: var(--zmhab21b);
}
.nmkw7b3 {
  background-color: var(--zmhab217);
  color: var(--zmhab211);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: nmkw7b1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.nmkw7b4 {
  width: 1em;
  padding: 0 8px;
}
.nmkw7b6::after {
  content: "-";
}
.nmkw7b8::after {
  content: "+";
  color: var(--zmhab212);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--zmhab219);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--zmhab21);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--zmhab2d);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--zmhab21d);
  border-radius: var(--zmhab2a);
  background-color: var(--zmhab219);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--zmhab21);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--zmhab218);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--zmhab29);
  white-space: pre;
  color: var(--zmhab2q);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--zmhab215);
  color: var(--zmhab2z);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--zmhab212);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--zmhab28);
}
.cm-s-neo.CodeMirror {
  background-color: var(--zmhab219);
  color: var(--zmhab2q);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--zmhab2y);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--zmhab219);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--zmhab219);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--zmhab219);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--zmhab21b);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--zmhab2y);
  transition: var(--zmhab2h);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(.nmkw7b8) {
  color: var(--zmhab2x);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--zmhab2y);
  transition: var(--zmhab2h);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--zmhab2x);
}
.cm-s-neo .cm-tag {
  color: var(--zmhab2r);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--zmhab2s);
}
.cm-s-neo .cm-string {
  color: var(--zmhab2t);
}
.cm-s-neo .cm-atom {
  color: var(--zmhab2u);
}
.cm-s-neo .cm-variable {
  color: var(--zmhab2v);
}
.cm-s-neo .cm-number {
  color: var(--zmhab2w);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--zmhab21a);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
.teje0t3 {
  position: absolute !important;
}
.teje0t6 {
  max-width: 90vw;
}
.teje0t6.teje0t4 {
  transform: translateX(100%);
}
.teje0t8 {
  max-height: 90vh;
}
.teje0t8.teje0t4 {
  transform: translateY(100%);
}
.teje0tb.teje0t9 {
  width: 60px;
}
.teje0td {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--zmhab2e);
  height: var(--zmhab2e);
}
.teje0td::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--zmhab2b);
  transition: var(--zmhab2f);
}
.teje0td:not(:hover):not(:focus) {
  opacity: 0.3;
}
.teje0td:hover::before, .teje0td:focus::before {
  opacity: 0.05;
}
.teje0tf {
  right: 60px;
}
