:root {
  --zmhab20: Helvetica, arial, sans-serif;
  --zmhab21: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --zmhab22: normal 10px Helvetica, arial, sans-serif;
  --zmhab23: normal 12px Helvetica, arial, sans-serif;
  --zmhab24: normal 14px Helvetica, arial, sans-serif;
  --zmhab25: normal 16px/1.3em Helvetica, arial, sans-serif;
  --zmhab26: 100;
  --zmhab27: 700;
  --zmhab28: 4px;
  --zmhab29: 2px;
  --zmhab2a: 4px;
  --zmhab2b: 6px;
  --zmhab2c: 100%;
  --zmhab2d: 70px;
  --zmhab2e: 44px;
  --zmhab2f: opacity 300ms ease, transform 300ms ease;
  --zmhab2g: opacity 200ms ease, transform 200ms ease;
  --zmhab2h: opacity 100ms ease, transform 100ms ease;
  --zmhab2i: 0;
  --zmhab2j: 2px;
  --zmhab2k: 4px;
  --zmhab2l: 6px;
  --zmhab2m: 12px;
  --zmhab2n: 16px;
  --zmhab2o: 20px;
  --zmhab2p: 40px;
}
:root {
  --zmhab2q: #000;
  --zmhab2r: #040080;
  --zmhab2s: #005ad2;
  --zmhab2t: #00439c;
  --zmhab2u: #00439c;
  --zmhab2v: #0088ff;
  --zmhab2w: #75438a;
  --zmhab2x: #a7a7a7;
  --zmhab2y: #515151;
  --zmhab2z: #fff;
  --zmhab210: #a7a7a7;
  --zmhab211: #cd193d;
  --zmhab212: #005ad2;
  --zmhab213: #1da584;
  --zmhab214: rgba(0, 0, 0, .05);
  --zmhab215: #005ad2;
  --zmhab216: #c5f5e9;
  --zmhab217: #fee1e9;
  --zmhab218: #eeeeee;
  --zmhab219: #fff;
  --zmhab21a: #f4f4f4;
  --zmhab21b: #e5f3ff;
  --zmhab21c: #eeeeee;
  --zmhab21d: 0 2px 8px rgba(18, 21, 26, 0.3);
  --zmhab21e: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --zmhab2q: #f6f8fa;
  --zmhab2r: #c8e1f7;
  --zmhab2s: #68aeea;
  --zmhab2t: #97c8f1;
  --zmhab2u: #97c8f1;
  --zmhab2v: #3e8fe0;
  --zmhab2w: #aa83f2;
  --zmhab2x: #3d4b63;
  --zmhab2y: #f6f8fa;
  --zmhab2z: #000;
  --zmhab210: #828ea4;
  --zmhab211: #fa6b6c;
  --zmhab212: #3e8fe0;
  --zmhab213: #28b888;
  --zmhab214: rgba(0, 0, 0, .15);
  --zmhab215: #3e8fe0;
  --zmhab216: #195546;
  --zmhab217: #4c1a20;
  --zmhab218: #1c2230;
  --zmhab219: #0f131b;
  --zmhab21a: #0a0c11;
  --zmhab21b: rgba(41,111,192,0.15);
  --zmhab21c: #1c2230;
  --zmhab21d: 0 0 10px -2px #2d3648;
  --zmhab21e: 0 0 0 5px rgba(104,174,234,0.4);
}
.zmhab21f {
  position: absolute;
}
.zmhab21g {
  position: relative;
}
.zmhab21h {
  position: fixed;
}
.zmhab21i {
  top: 0;
}
.zmhab21j {
  bottom: 0;
}
.zmhab21k {
  left: 0;
}
.zmhab21l {
  right: 0;
}
.zmhab21m {
  display: none;
}
.zmhab21n {
  display: flex;
}
.zmhab21o {
  display: block;
}
.zmhab21p {
  display: inline;
}
.zmhab21q {
  flex-direction: row;
}
.zmhab21r {
  flex-direction: column;
}
.zmhab21s {
  flex-direction: row-reverse;
}
.zmhab21t {
  flex-wrap: wrap;
}
.zmhab21u {
  justify-content: stretch;
}
.zmhab21v {
  justify-content: flex-start;
}
.zmhab21w {
  justify-content: center;
}
.zmhab21x {
  justify-content: flex-end;
}
.zmhab21y {
  justify-content: space-around;
}
.zmhab21z {
  justify-content: space-between;
}
.zmhab220 {
  align-items: stretch;
}
.zmhab221 {
  align-items: flex-start;
}
.zmhab222 {
  align-items: center;
}
.zmhab223 {
  align-items: flex-end;
}
.zmhab224 {
  padding-top: var(--zmhab2i);
}
.zmhab225 {
  padding-top: var(--zmhab2j);
}
.zmhab226 {
  padding-top: var(--zmhab2k);
}
.zmhab227 {
  padding-top: var(--zmhab2l);
}
.zmhab228 {
  padding-top: var(--zmhab2m);
}
.zmhab229 {
  padding-top: var(--zmhab2n);
}
.zmhab22a {
  padding-top: var(--zmhab2o);
}
.zmhab22b {
  padding-top: var(--zmhab2p);
}
.zmhab22c {
  padding-bottom: var(--zmhab2i);
}
.zmhab22d {
  padding-bottom: var(--zmhab2j);
}
.zmhab22e {
  padding-bottom: var(--zmhab2k);
}
.zmhab22f {
  padding-bottom: var(--zmhab2l);
}
.zmhab22g {
  padding-bottom: var(--zmhab2m);
}
.zmhab22h {
  padding-bottom: var(--zmhab2n);
}
.zmhab22i {
  padding-bottom: var(--zmhab2o);
}
.zmhab22j {
  padding-bottom: var(--zmhab2p);
}
.zmhab22k {
  padding-left: var(--zmhab2i);
}
.zmhab22l {
  padding-left: var(--zmhab2j);
}
.zmhab22m {
  padding-left: var(--zmhab2k);
}
.zmhab22n {
  padding-left: var(--zmhab2l);
}
.zmhab22o {
  padding-left: var(--zmhab2m);
}
.zmhab22p {
  padding-left: var(--zmhab2n);
}
.zmhab22q {
  padding-left: var(--zmhab2o);
}
.zmhab22r {
  padding-left: var(--zmhab2p);
}
.zmhab22s {
  padding-right: var(--zmhab2i);
}
.zmhab22t {
  padding-right: var(--zmhab2j);
}
.zmhab22u {
  padding-right: var(--zmhab2k);
}
.zmhab22v {
  padding-right: var(--zmhab2l);
}
.zmhab22w {
  padding-right: var(--zmhab2m);
}
.zmhab22x {
  padding-right: var(--zmhab2n);
}
.zmhab22y {
  padding-right: var(--zmhab2o);
}
.zmhab22z {
  padding-right: var(--zmhab2p);
}
.zmhab230 {
  margin-top: var(--zmhab2i);
}
.zmhab231 {
  margin-top: var(--zmhab2j);
}
.zmhab232 {
  margin-top: var(--zmhab2k);
}
.zmhab233 {
  margin-top: var(--zmhab2l);
}
.zmhab234 {
  margin-top: var(--zmhab2m);
}
.zmhab235 {
  margin-top: var(--zmhab2n);
}
.zmhab236 {
  margin-top: var(--zmhab2o);
}
.zmhab237 {
  margin-top: var(--zmhab2p);
}
.zmhab238 {
  margin-bottom: var(--zmhab2i);
}
.zmhab239 {
  margin-bottom: var(--zmhab2j);
}
.zmhab23a {
  margin-bottom: var(--zmhab2k);
}
.zmhab23b {
  margin-bottom: var(--zmhab2l);
}
.zmhab23c {
  margin-bottom: var(--zmhab2m);
}
.zmhab23d {
  margin-bottom: var(--zmhab2n);
}
.zmhab23e {
  margin-bottom: var(--zmhab2o);
}
.zmhab23f {
  margin-bottom: var(--zmhab2p);
}
.zmhab23g {
  margin-left: var(--zmhab2i);
}
.zmhab23h {
  margin-left: var(--zmhab2j);
}
.zmhab23i {
  margin-left: var(--zmhab2k);
}
.zmhab23j {
  margin-left: var(--zmhab2l);
}
.zmhab23k {
  margin-left: var(--zmhab2m);
}
.zmhab23l {
  margin-left: var(--zmhab2n);
}
.zmhab23m {
  margin-left: var(--zmhab2o);
}
.zmhab23n {
  margin-left: var(--zmhab2p);
}
.zmhab23o {
  margin-right: var(--zmhab2i);
}
.zmhab23p {
  margin-right: var(--zmhab2j);
}
.zmhab23q {
  margin-right: var(--zmhab2k);
}
.zmhab23r {
  margin-right: var(--zmhab2l);
}
.zmhab23s {
  margin-right: var(--zmhab2m);
}
.zmhab23t {
  margin-right: var(--zmhab2n);
}
.zmhab23u {
  margin-right: var(--zmhab2o);
}
.zmhab23v {
  margin-right: var(--zmhab2p);
}
.zmhab23w {
  overflow: hidden;
}
.zmhab23x {
  overflow: auto;
}
.zmhab23y {
  box-shadow: var(--zmhab21d);
}
.zmhab23z {
  box-shadow: var(--zmhab21e);
}
.zmhab240 {
  border-radius: var(--zmhab29);
}
.zmhab241 {
  border-radius: var(--zmhab2a);
}
.zmhab242 {
  border-radius: var(--zmhab2b);
}
.zmhab243 {
  border-radius: var(--zmhab2c);
}
.zmhab244 {
  transition: var(--zmhab2f);
}
.zmhab245 {
  transition: var(--zmhab2g);
}
.zmhab246 {
  transition: var(--zmhab2h);
}
.zmhab247 {
  cursor: pointer;
}
.zmhab248 {
  pointer-events: none;
}
.zmhab249 {
  pointer-events: auto;
}
.zmhab24a {
  user-select: none;
}
.zmhab24b {
  appearance: none;
}
.zmhab24c {
  opacity: 0;
}
.zmhab24d {
  z-index: 0;
}
.zmhab24e {
  z-index: 1;
}
.zmhab24f {
  font: var(--zmhab22);
}
.zmhab24g {
  font: var(--zmhab23);
}
.zmhab24h {
  font: var(--zmhab24);
}
.zmhab24i {
  font: var(--zmhab25);
}
.zmhab24j {
  font-weight: var(--zmhab26);
}
.zmhab24k {
  font-weight: var(--zmhab27);
}
.zmhab24l {
  width: 100%;
}
.zmhab24m {
  width: 100vw;
}
.zmhab24n {
  height: 100%;
}
.zmhab24o {
  height: 100vh;
}
.zmhab24p {
  white-space: nowrap;
}
.zmhab24q {
  box-sizing: border-box;
}
.zmhab24r {
  text-align: center;
}
.zmhab24s {
  text-align: left;
}
.zmhab24t {
  text-align: right;
}
.zmhab24u {
  border: 0;
}
@keyframes gbs90h4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
.gbs90h1 {
  z-index: 100;
  background: #1c2230;
  color: var(--zmhab2z);
}
.gbs90h3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: gbs90h4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
.gbs90h5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._1qm7qre1 {
  color: var(--zmhab2y);
}
._1qm7qre2 {
  color: var(--zmhab211);
}
._1qm7qre9 {
  text-overflow: ellipsis;
}
