:root {
  --k22gf80: Helvetica, arial, sans-serif;
  --k22gf81: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --k22gf82: normal 10px Helvetica, arial, sans-serif;
  --k22gf83: normal 12px Helvetica, arial, sans-serif;
  --k22gf84: normal 14px Helvetica, arial, sans-serif;
  --k22gf85: normal 16px/20px Helvetica, arial, sans-serif;
  --k22gf86: 100;
  --k22gf87: 700;
  --k22gf88: 4px;
  --k22gf89: 2px;
  --k22gf8a: 4px;
  --k22gf8b: 6px;
  --k22gf8c: 100%;
  --k22gf8d: 70px;
  --k22gf8e: 44px;
  --k22gf8f: opacity 300ms ease, transform 300ms ease;
  --k22gf8g: opacity 200ms ease, transform 200ms ease;
  --k22gf8h: opacity 100ms ease, transform 100ms ease;
  --k22gf8i: 0;
  --k22gf8j: 2px;
  --k22gf8k: 4px;
  --k22gf8l: 6px;
  --k22gf8m: 8px;
  --k22gf8n: 12px;
  --k22gf8o: 16px;
  --k22gf8p: 20px;
  --k22gf8q: 28px;
  --k22gf8r: 40px;
}
:root {
  --zmhab20: #000;
  --zmhab21: #040080;
  --zmhab22: #005ad2;
  --zmhab23: #00439c;
  --zmhab24: #00439c;
  --zmhab25: #0088ff;
  --zmhab26: #75438a;
  --zmhab27: #a7a7a7;
  --zmhab28: #515151;
  --zmhab29: #fff;
  --zmhab2a: #a7a7a7;
  --zmhab2b: #cd193d;
  --zmhab2c: #005ad2;
  --zmhab2d: #1da584;
  --zmhab2e: rgba(0, 0, 0, .05);
  --zmhab2f: #005ad2;
  --zmhab2g: #c5f5e9;
  --zmhab2h: #fee1e9;
  --zmhab2i: #eeeeee;
  --zmhab2j: #fff;
  --zmhab2k: #f4f4f4;
  --zmhab2l: rgba(0,136,255,0.15);
  --zmhab2m: #98d0ff;
  --zmhab2n: #eeeeee;
  --zmhab2o: 0 2px 8px rgba(18, 21, 26, 0.3);
  --zmhab2p: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --zmhab20: #f6f8fa;
  --zmhab21: #c8e1f7;
  --zmhab22: #68aeea;
  --zmhab23: #97c8f1;
  --zmhab24: #97c8f1;
  --zmhab25: #3e8fe0;
  --zmhab26: #aa83f2;
  --zmhab27: #3d4b63;
  --zmhab28: #f6f8fa;
  --zmhab29: #000;
  --zmhab2a: #828ea4;
  --zmhab2b: #fa6b6c;
  --zmhab2c: #3e8fe0;
  --zmhab2d: #28b888;
  --zmhab2e: rgba(255, 255, 255, .07);
  --zmhab2f: #3e8fe0;
  --zmhab2g: #195546;
  --zmhab2h: #4c1a20;
  --zmhab2i: #1c2230;
  --zmhab2j: #0f131b;
  --zmhab2k: #0a0c11;
  --zmhab2l: rgba(41,111,192,0.25);
  --zmhab2m: rgba(41,111,192,0.75);
  --zmhab2n: #1c2230;
  --zmhab2o: 0 0 10px -2px #2d3648;
  --zmhab2p: 0 0 0 5px rgba(104,174,234,0.4);
}
.zmhab2q {
  position: absolute;
}
.zmhab2r {
  position: relative;
}
.zmhab2s {
  position: fixed;
}
.zmhab2t {
  top: 0;
}
.zmhab2u {
  bottom: 0;
}
.zmhab2v {
  left: 0;
}
.zmhab2w {
  right: 0;
}
.zmhab2x {
  display: none;
}
.zmhab2y {
  display: flex;
}
.zmhab2z {
  display: block;
}
.zmhab210 {
  display: inline;
}
.zmhab211 {
  flex-direction: row;
}
.zmhab212 {
  flex-direction: column;
}
.zmhab213 {
  flex-direction: row-reverse;
}
.zmhab214 {
  flex-wrap: wrap;
}
.zmhab215 {
  flex-grow: 0;
}
.zmhab216 {
  flex-grow: 1;
}
.zmhab217 {
  justify-content: stretch;
}
.zmhab218 {
  justify-content: flex-start;
}
.zmhab219 {
  justify-content: center;
}
.zmhab21a {
  justify-content: flex-end;
}
.zmhab21b {
  justify-content: space-around;
}
.zmhab21c {
  justify-content: space-between;
}
.zmhab21d {
  align-items: stretch;
}
.zmhab21e {
  align-items: flex-start;
}
.zmhab21f {
  align-items: center;
}
.zmhab21g {
  align-items: flex-end;
}
.zmhab21h {
  gap: var(--k22gf8i);
}
.zmhab21i {
  gap: var(--k22gf8j);
}
.zmhab21j {
  gap: var(--k22gf8k);
}
.zmhab21k {
  gap: var(--k22gf8l);
}
.zmhab21l {
  gap: var(--k22gf8m);
}
.zmhab21m {
  gap: var(--k22gf8n);
}
.zmhab21n {
  gap: var(--k22gf8o);
}
.zmhab21o {
  gap: var(--k22gf8p);
}
.zmhab21p {
  gap: var(--k22gf8q);
}
.zmhab21q {
  gap: var(--k22gf8r);
}
.zmhab21r {
  padding-top: var(--k22gf8i);
}
.zmhab21s {
  padding-top: var(--k22gf8j);
}
.zmhab21t {
  padding-top: var(--k22gf8k);
}
.zmhab21u {
  padding-top: var(--k22gf8l);
}
.zmhab21v {
  padding-top: var(--k22gf8m);
}
.zmhab21w {
  padding-top: var(--k22gf8n);
}
.zmhab21x {
  padding-top: var(--k22gf8o);
}
.zmhab21y {
  padding-top: var(--k22gf8p);
}
.zmhab21z {
  padding-top: var(--k22gf8q);
}
.zmhab220 {
  padding-top: var(--k22gf8r);
}
.zmhab221 {
  padding-bottom: var(--k22gf8i);
}
.zmhab222 {
  padding-bottom: var(--k22gf8j);
}
.zmhab223 {
  padding-bottom: var(--k22gf8k);
}
.zmhab224 {
  padding-bottom: var(--k22gf8l);
}
.zmhab225 {
  padding-bottom: var(--k22gf8m);
}
.zmhab226 {
  padding-bottom: var(--k22gf8n);
}
.zmhab227 {
  padding-bottom: var(--k22gf8o);
}
.zmhab228 {
  padding-bottom: var(--k22gf8p);
}
.zmhab229 {
  padding-bottom: var(--k22gf8q);
}
.zmhab22a {
  padding-bottom: var(--k22gf8r);
}
.zmhab22b {
  padding-left: var(--k22gf8i);
}
.zmhab22c {
  padding-left: var(--k22gf8j);
}
.zmhab22d {
  padding-left: var(--k22gf8k);
}
.zmhab22e {
  padding-left: var(--k22gf8l);
}
.zmhab22f {
  padding-left: var(--k22gf8m);
}
.zmhab22g {
  padding-left: var(--k22gf8n);
}
.zmhab22h {
  padding-left: var(--k22gf8o);
}
.zmhab22i {
  padding-left: var(--k22gf8p);
}
.zmhab22j {
  padding-left: var(--k22gf8q);
}
.zmhab22k {
  padding-left: var(--k22gf8r);
}
.zmhab22l {
  padding-right: var(--k22gf8i);
}
.zmhab22m {
  padding-right: var(--k22gf8j);
}
.zmhab22n {
  padding-right: var(--k22gf8k);
}
.zmhab22o {
  padding-right: var(--k22gf8l);
}
.zmhab22p {
  padding-right: var(--k22gf8m);
}
.zmhab22q {
  padding-right: var(--k22gf8n);
}
.zmhab22r {
  padding-right: var(--k22gf8o);
}
.zmhab22s {
  padding-right: var(--k22gf8p);
}
.zmhab22t {
  padding-right: var(--k22gf8q);
}
.zmhab22u {
  padding-right: var(--k22gf8r);
}
.zmhab22v {
  margin-top: var(--k22gf8i);
}
.zmhab22w {
  margin-top: var(--k22gf8j);
}
.zmhab22x {
  margin-top: var(--k22gf8k);
}
.zmhab22y {
  margin-top: var(--k22gf8l);
}
.zmhab22z {
  margin-top: var(--k22gf8m);
}
.zmhab230 {
  margin-top: var(--k22gf8n);
}
.zmhab231 {
  margin-top: var(--k22gf8o);
}
.zmhab232 {
  margin-top: var(--k22gf8p);
}
.zmhab233 {
  margin-top: var(--k22gf8q);
}
.zmhab234 {
  margin-top: var(--k22gf8r);
}
.zmhab235 {
  margin-top: auto;
}
.zmhab236 {
  margin-bottom: var(--k22gf8i);
}
.zmhab237 {
  margin-bottom: var(--k22gf8j);
}
.zmhab238 {
  margin-bottom: var(--k22gf8k);
}
.zmhab239 {
  margin-bottom: var(--k22gf8l);
}
.zmhab23a {
  margin-bottom: var(--k22gf8m);
}
.zmhab23b {
  margin-bottom: var(--k22gf8n);
}
.zmhab23c {
  margin-bottom: var(--k22gf8o);
}
.zmhab23d {
  margin-bottom: var(--k22gf8p);
}
.zmhab23e {
  margin-bottom: var(--k22gf8q);
}
.zmhab23f {
  margin-bottom: var(--k22gf8r);
}
.zmhab23g {
  margin-bottom: auto;
}
.zmhab23h {
  margin-left: var(--k22gf8i);
}
.zmhab23i {
  margin-left: var(--k22gf8j);
}
.zmhab23j {
  margin-left: var(--k22gf8k);
}
.zmhab23k {
  margin-left: var(--k22gf8l);
}
.zmhab23l {
  margin-left: var(--k22gf8m);
}
.zmhab23m {
  margin-left: var(--k22gf8n);
}
.zmhab23n {
  margin-left: var(--k22gf8o);
}
.zmhab23o {
  margin-left: var(--k22gf8p);
}
.zmhab23p {
  margin-left: var(--k22gf8q);
}
.zmhab23q {
  margin-left: var(--k22gf8r);
}
.zmhab23r {
  margin-left: auto;
}
.zmhab23s {
  margin-right: var(--k22gf8i);
}
.zmhab23t {
  margin-right: var(--k22gf8j);
}
.zmhab23u {
  margin-right: var(--k22gf8k);
}
.zmhab23v {
  margin-right: var(--k22gf8l);
}
.zmhab23w {
  margin-right: var(--k22gf8m);
}
.zmhab23x {
  margin-right: var(--k22gf8n);
}
.zmhab23y {
  margin-right: var(--k22gf8o);
}
.zmhab23z {
  margin-right: var(--k22gf8p);
}
.zmhab240 {
  margin-right: var(--k22gf8q);
}
.zmhab241 {
  margin-right: var(--k22gf8r);
}
.zmhab242 {
  margin-right: auto;
}
.zmhab243 {
  overflow: hidden;
}
.zmhab244 {
  overflow: auto;
}
.zmhab245 {
  box-shadow: var(--zmhab2o);
}
.zmhab246 {
  box-shadow: var(--zmhab2p);
}
.zmhab247 {
  border-radius: var(--k22gf89);
}
.zmhab248 {
  border-radius: var(--k22gf8a);
}
.zmhab249 {
  border-radius: var(--k22gf8b);
}
.zmhab24a {
  border-radius: var(--k22gf8c);
}
.zmhab24b {
  transition: var(--k22gf8f);
}
.zmhab24c {
  transition: var(--k22gf8g);
}
.zmhab24d {
  transition: var(--k22gf8h);
}
.zmhab24e {
  cursor: pointer;
}
.zmhab24f {
  pointer-events: none;
}
.zmhab24g {
  pointer-events: auto;
}
.zmhab24h {
  user-select: none;
}
.zmhab24i {
  appearance: none;
}
.zmhab24j {
  opacity: 0;
}
.zmhab24k {
  z-index: 0;
}
.zmhab24l {
  z-index: 1;
}
.zmhab24m {
  font: var(--k22gf82);
}
.zmhab24n {
  font: var(--k22gf83);
}
.zmhab24o {
  font: var(--k22gf84);
}
.zmhab24p {
  font: var(--k22gf85);
}
.zmhab24q {
  font-weight: var(--k22gf86);
}
.zmhab24r {
  font-weight: var(--k22gf87);
}
.zmhab24s {
  width: 100%;
}
.zmhab24t {
  width: 100vw;
}
.zmhab24u {
  height: 100%;
}
.zmhab24v {
  height: 100vh;
}
.zmhab24w {
  white-space: nowrap;
}
.zmhab24x {
  box-sizing: border-box;
}
.zmhab24y {
  text-align: center;
}
.zmhab24z {
  text-align: left;
}
.zmhab250 {
  text-align: right;
}
.zmhab251 {
  border: 0;
}
@keyframes gbs90h4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
.gbs90h1 {
  z-index: 100;
  background: #1c2230;
  color: var(--zmhab29);
}
.gbs90h3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: gbs90h4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
.gbs90h5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._1qm7qre1 {
  color: var(--zmhab28);
}
._1qm7qre2 {
  color: var(--zmhab2b);
}
._1qm7qre3 {
  color: var(--zmhab2a);
}
._1qm7qrea {
  text-overflow: ellipsis;
}
